body {
    font-family: "Roboto", sans-serif; 
}
.weather-app {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    max-width: 500px;
    margin: 30px auto; 
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 30px;
    padding: 50px; 
}