* {
    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */

}
body {
    font-family: "Roboto", sans-serif; 
}
a { 
    color: #E9957D; 
    font-weight: 500; 
}
.weather-app {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    max-width: 500px;
    margin: 30px auto; 
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.1);
    border-radius: 30px;
    padding: 40px 50px 5px 50px; 
}

.search-form-input {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff; 
    width: 80%; 
    font-size: 15px; 
    padding: 12px 20px; 
    border-radius: 10px;
}

.search-form-button {
    background: #F5B7A1; 
    padding: 13px 20px; 
    border: none; 
    border-radius: 6px; 
    color: #fff; 
    margin-left: 5px; 
    font-size: 15px; 
    font-weight: 500;
    transition: all 200ms ease-in-out; 
}

header {
    padding: 0 0 5px 0; 
}

.weather-app-data{
    text-align: center;
    color: #001F3F; 
}

#weather-app-city {
    font-size: 60px; 
    font-weight: 500;  
    margin: 25px 0 0 0; 
}

#weather-app-description {
    font-size: 16px; 
    font-weight: 400; 
    color: #000; 
    line-height: 24px;
    margin: 0 0 20px 0; 
}

#weather-app-description strong {
    color: #000; 
}
.weather-app-container {
    display:flex;
    justify-content: center;
    align-content:space-between;
    gap: 20px; 
}

.weather-app-temperature-container{
    display: flex; 
    justify-content: center;
}

.weather-app-icon {
    width: 100%; 
    padding: 0; 
}

.weather-app-temperature {
    font-size: 64px;
    font-weight: 400; 
    margin-top: 10px;
}

.weather-app-unit {
    margin-top: 13px; 
    font-size: 50px; 
    font-weight: 400; 
}

.weather-forecast {
    display: flex; 
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 0 20px 0; 
    text-align: center;
    gap: 40px;
    background: rgba(255, 255, 255, 0.3);
    padding: 10px 15px; 
    border-radius: 20px;
}

.weather-forecast-icon {
    width: 100%; 
    text-align: center; 
}

.weather-forecast-date {
    font-size: 20px; 
}

.weather-forecast-temperature-max {
    margin-right: 8px;
}

.weather-forecast-temperature-min {
    color: rgba(39, 33, 66, 0.7);
}

footer {
    border-top: 1px solid #fff;
    padding: 30px;
    font-size: 13px; 
    text-align: center; 
    font-weight: 400; 
    color: rgba(0, 0, 0, 0.6);
}

.search-form-button:hover {
    cursor: pointer;
    background: #E9957D; 
}