body {
    font-family: "Roboto", sans-serif; 
}
.weather-app {
    background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    max-width: 500px;
    margin: 30px auto; 
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    border-radius: 30px;
    padding: 50px; 
}

.search-form-input {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #fff; 
    width: 80%; 
    font-size: 16px; 
    padding: 12px 20px; 
    border-radius: 10px;
}

.search-form-button {
    background: #F5B7A1; 
    padding: 14px 20px; 
    border: none; 
    border-radius: 6px; 
    color: #fff; 
    margin-left: 5px; 
    font-size: 15px; 
}

header {
    padding: 0 0 5px 0; 
}
main {
    text-align: center;
    color: #001F3F; 
}
#city-name {
    font-size: 50px; 
    font-weight:500;  
    margin: 25px 0; 
}
#description {
    font-size: 16px; 
    font-weight: 100px; 
}
.temperature {
    font-size: 60px; 
}
footer {
    border-top: 1px solid #fff;
    padding: 20px 0 0 0; 
    font-size: 15px; 
    text-align: center; 
}